.Nav {
 
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

.container{
    /* border:2px solid black; */
    border-top: 1px solid rgba(175, 201, 219, 0.4) ;
    position: fixed;
    width: 100%;
    margin-top: 5px;
    background-color:rgba(195, 222, 240, 0.4) 

}

.nav-list .logo h2{
    color:#1854c4;
    letter-spacing: 2px;
}



.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 1.8rem;
    }

.link-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 5rem; */
    /* border:2px solid black; */
    width: 650px;
    padding-right: 6rem;
}
.link{
    text-decoration: none;
    color:black;
    font-weight: 600;
    
    
}

.right{
    /* border: 2px solid black; */
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 0.5rem; */
    
}

.right-logo{
    height: 60px;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 135px;
    margin-left: -2rem;
    margin-right:1rem ;
}

.contact{
    background-color:#17a72a;
    border: none;
    padding: 0.5rem;
    color: white;
    border-radius: 0.6rem;
    width: 110px;
    font-size: 13.8px;
    
}
}
